/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-color: beige;
    padding: 20px;
}


#schoolImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure the image appears on top of other content */
}

#school2Image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure the image appears on top of other content */
}

#fmfImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure the image appears on top of other content */
}

#balboaImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure the image appears on top of other content */
}


/*Notecard*/
/* CSS code */
.notecard {
    width: 200px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none; /* Initially hide notecards */
}

/*left sidebar */

.left-sidebar {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.left-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.left-sidebar li {
    margin-bottom: 15px;
}

.left-sidebar h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.left-sidebar p {
    margin: 0;
}
/*left sidebar */

/* CSS for the right sidebar */
.right-sidebar {
    width: 50%; /* Adjust the width as needed (half of the left sidebar) */
    float: right; /* Float the sidebar to the right to position it on the right side */
    background-color: beige; /* Set the background color to beige or any color you prefer */
    padding: 20px; /* Add padding to the content inside the sidebar */
    box-sizing: border-box; /* Include padding and border in the total width */
}

/* Style the content inside the right sidebar as needed */
.right-sidebar h2 {
    font-size: 24px; /* Example: Increase the font size for headings */
}

.right-sidebar ul {
    list-style-type: square; /* Example: Use square bullets for lists */
}

/* Add more styles to customize the right sidebar */


header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.projects {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.project-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.project-card h3 {
    font-size: 1.2rem;
}

.project-card a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.project-card a:hover {
    background-color: #555;
}
