header {
    text-align: center;
    margin-bottom: 20px;
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: #000; /* black background */
    color: #2f6e2f; /* bright green text */
}

.navbar, .footer-container, .bio, .right-sidebar {
    border: 1px solid #2f6e2f;
    padding: 10px;
}

.right-sidebar ul {
    display: flex; /* Use Flexbox for the horizontal layout */
    justify-content: flex-start; /* Align items to the left */
    list-style-type: none; /* Remove bullets from the list */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.right-sidebar li {
    margin-right: 20px; /* Add some space between each item */
}

.right-sidebar a {
    color: #0c5221; /* Retro green color */
    text-decoration: none; /* Remove underline */
}

.right-sidebar a:hover {
    text-decoration: underline; /* Add underline on hover */
}


.bio-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px; /* Space between the bio text and the image/quotes */
}

.navbar a {
    color: #2f6e2f;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.quotes blockquote {
    margin: 0 0 20px 0;
    padding: 0 10px;
    border-left: 3px solid #2f6e2f;
    color: #2f6e2f;
    font-style: italic;
}

.quotes p {
    margin: 0;
}

.quotes footer {
    margin-top: 5px;
    font-size: 0.9em;
    color: #2f6e2f;
}

.blinking-text {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}



.profile-photo {
    width: 400px;
    height: auto;
    margin-right: 20px;
    border: 1px solid #2f6e2f;
}

.retroContainer {
    width: 80%; /* or a fixed width like 960px */
    max-width: 1200px; /* limits the width on larger screens */
    margin: 0 auto; /* centers the container */
    padding: 20px; /* optional: add some padding around the content */
}

#wordCloud {
    position: relative;
    width: 100%;
    height: 600px; /* Adjust height based on your design */
    border: 1px solid #2f6e2f; /* Green border to match the retro theme */
    overflow: hidden; /* Ensure words don't overflow */
    font-family: 'Courier New', Courier, monospace; /* Retro font */
    color: #2f6e2f; /* Green text */
}


/* portfolio */
.portfolioContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    margin: 0 auto; /* centers the container */
}

.left-sidebar, .projects {
    width: 48%;
}

.education-container, .career-container, .project-card {
    border: 1px solid #2f6e2f;
    padding: 10px;
    margin-bottom: 20px;
}

.education-section {
    margin-bottom: 20px;
}

.project-card a {
    color: #2f6e2f;
    text-decoration: none;
}

.project-card a:hover {
    text-decoration: underline;
}